name: "Scan Virus"
on:
  workflow_dispatch:
    inputs:
      git_integrate:
        description: "{Boolean} Integrate with Git to scan every commits; Require workspace is a Git repository."
        required: false
        default: "True"
      git_reverse:
        description: "{Boolean} Reverse scan order of the Git commits."
        required: false
        default: "False"
jobs:
  scan-virus:
    name: "Scan Virus"
    runs-on: "ubuntu-latest"
    steps:
      - name: "Checkout Repository"
        uses: "actions/checkout@v3.2.0"
        with:
          fetch-depth: 0
      - name: "Scan Repository"
        uses: "hugoalh/scan-virus-ghaction@main"
        with:
          git_integrate: "${{github.event.inputs.git_integrate}}"
          git_reverse: "${{github.event.inputs.git_reverse}}"
